/* Styles for yeswiki's template
 * under GNU General Public License
 */
@import 'partials/general';
@import 'partials/navbar';
@import 'partials/header';
@import 'partials/main-containers';
@import 'partials/footer';
@import 'partials/page-edit';
@import 'partials/bazar';
@import 'partials/admin';

@import 'components/buttons';
@import 'components/bootstrap-components';
@import 'components/modals';
@import 'components/forms';
@import 'components/checkboxes-radio';
@import 'components/tables';
@import 'components/blog-card';
@import 'templates/calendar';
@import 'templates/agenda';
@import 'templates/facette';
@import 'templates/accordion';
@import 'templates/search';
@import 'templates/annuaire';

 /*
 * CSS variables
 */
 :root {
   --primary-color: #D76E82; /* initial yellow #F8C400; */
   --secondary-color-1: #B9CD00; /* #d8604c;*/
   --secondary-color-2:#E68C1E;
   --neutral-color:#5A696B; /*#4E5056;*/
   --neutral-soft-color:#F2F2F2;
   --neutral-light-color:#fff;

   --success-color: #3cab3b;
   --danger-color: #d8604c;
   --warning-color: #D78958;

  --main-text-color:var(--neutral-color);
  --main-text-fontsize: 17px;
  --main-text-fontfamily:'Ubuntu', sans-serif;
  --main-bg-color:var(--neutral-light-color);
  --main-container-bg-color:var(--neutral-light-color);

  /* Links */
  --link-color: var(--primary-color);
  --link-hover-color : var(--primary-color);

  /* contained page */
  --navbar-bg-color: var(--primary-color);
  --navbar-text-color: var(--neutral-color);
  --navbar-link-color: var(--neutral-light-color);
  --navbar-link-bg-color: transparent;
  --navbar-link-hover-color: var(--neutral-color);
  --navbar-link-bg-hover-color: transparent;
  --navbar-border: none;
  --navbar-border-radius : 0;
  --navbar-shadow: none;


  --header-bg-color: var(--neutral-light-color);
  --header-text-color: var(--neutral-color);
  --header-title-color: var(--primary-color);

  --footer-bg-color: var(--neutral-color);
  --footer-text-color: var(--neutral-light-color);
  --footer-title-color:var(-neutral-light-color);
  --footer-border-top:  3px solid var(--neutral-soft-color);

  --btn-border:none;
  --btn-border-radius:.5em;

  --checkbox-color: var(--primary-color)
}

@media (max-width: 1200px) {
   :root {
     --main-text-fontsize: 16px;
   }
}
@media (max-width: 800px) {
  :root {
     --main-text-fontsize: 13px;
   }
}

/* fix for retro compatibility with cercopitheque */
.accordion-group .panel-heading.collapsed .panel-title::after {
    content: "";
}

.navbar-brand.logo {
  background: url("../images/logo.png") no-repeat;
  background-size: 223px;
}

.navbar-brand.logo > .include {
  display: none;
}

.logo-agora {
  margin-bottom:10px;
  }
  