<?php

// test si on veut mettre en avant le premier post de blog
$highlightFirst = $GLOBALS['wiki']->GetParameter('highlightFirst');
if (empty($highlightFirst)) {
     $highlightFirst = true;
}

if (count($fiches)>0) {
    $svgIcon = '<img style="vertical-align:baseline;" width="12" src=\'data:image/svg+xml;utf8,<svg height="1792" viewBox="0 0 1792 1792" width="1792" xmlns="http://www.w3.org/2000/svg"><path d="M192 1664h288v-288h-288v288zm352 0h320v-288h-320v288zm-352-352h288v-320h-288v320zm352 0h320v-320h-320v320zm-352-384h288v-288h-288v288zm736 736h320v-288h-320v288zm-384-736h320v-288h-320v288zm768 736h288v-288h-288v288zm-384-352h320v-320h-320v320zm-352-864v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm736 864h288v-320h-288v320zm-384-384h320v-288h-320v288zm384 0h288v-288h-288v288zm32-480v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm384-64v1280q0 52-38 90t-90 38h-1408q-52 0-90-38t-38-90v-1280q0-52 38-90t90-38h128v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h384v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h128q52 0 90 38t38 90z"/></svg>\' alt="'._t('HISTORY').'">';
    $premier = true;
    foreach ($fiches as $fiche) {
        list($day, $time) = explode(' ', $fiche['bf_date_article']);
	    if ($premier==true && $highlightFirst == true) : { ?>
		      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
          <?php echo '<div class="bazar-entry" '.$fiche['html_data'].'><h2 class="display-4 font-italic"><a href="'.$GLOBALS['wiki']->href('', $fiche['id_fiche']).'">'.$fiche['bf_titre'].'</a></h2><small><a href="' . $GLOBALS['wiki']->href('revisions', $fiche['id_fiche']) . '">'.$svgIcon.'</a>&nbsp;'.date('d.m.Y', strtotime($day)).'</small>  <small>par '.$GLOBALS['wiki']->Format($fiche['createur']).'</small></div>'."\n";       ?>

          <p class="lead my-3" style="text-align:justify"><?php echo $fiche['bf_chapo']; ?></p>
          <p class="lead mb-0"><a href="<?php echo $GLOBALS['wiki']->href('', $fiche['id_fiche']); ?>" class="text-white font-weight-bold">Plus d'infos ...</a></p>
        </div>

		<?php $premier = false; ?>

		 <?php
           }
		   else : {

				?>
 <div class="row panel panel-default">
				<div class="col-xs-12 col-md-4">

    <a href="<?php echo $GLOBALS['wiki']->href('', $fiche['id_fiche']); ?>">
      <img class="media-object media-middle" style="width:100%; margin:10px;" alt="<?php echo $fiche['bf_titre'];?>"
						src="<?php echo redimensionner_image(
							'files/'.$fiche['imagebf_image'],
							'cache/image_350_150_'.$fiche['imagebf_image'],
							350,
							150,
							'crop'
						); ?>">
    </a>
  </div>
  <div class="col-xs-12 col-md-8">
    <h4 class="media-heading"><?php echo $fiche['bf_titre'];?></h4>
  <?php echo '<div class="bazar-entry" '.$fiche['html_data'].'><small><a href="' . $fiche['bf_date_article'] . '">'.$svgIcon.'</a>&nbsp;'.date('d.m.Y', strtotime($day)).'</small>  <small>par '.$GLOBALS['wiki']->Format($fiche['createur']).'</small></div>'."\n";
					echo '<p style="text-align:justify">'.$fiche['bf_chapo'].'</p>'; ?>
						<br/>
						<a class="btn btn-link"
						  title="<?php echo $fiche['bf_titre'];?>"
						  href="<?php echo $GLOBALS['wiki']->href('', $fiche['id_fiche']); ?>" >
						  Plus d'infos
						</a>

  </div>

</div>

 <?php		 } endif;  }
} else {
   echo 'Il n\'y a pas de fiche pour cette période.';
}
?>