<?php

	// largeur vignette
	$thumbwidth = $GLOBALS['wiki']->GetParameter('thumbwidth');
	if (empty($thumbwidth)) {
		$thumbwidth = 155;
	}
	// hauteur vignette
	$thumbheight = $GLOBALS['wiki']->GetParameter('thumbheight');
	if (empty($thumbheight)) {
		$thumbheight = 115;
	}

	// redimensionnent vignette :
	//   aux dimensions exactes, quitte à rogner l'image (crop)
	//   ou garder dimensions originales à l'intérieur des dimensions (fit)
	$thumbresize = $GLOBALS['wiki']->GetParameter('thumbresize');
	if (empty($thumbresize)) {
		$thumbresize = 'fit';
	}

	// test si on veut mettre en avant le premier post de blog
	$highlightFirst = $GLOBALS['wiki']->GetParameter('highlightFirst');
	if (empty($highlightFirst)) {
		$highlightFirst = true;
	}

	if (count($fiches)>0) {
		$cnt = 0;
    	foreach ($fiches as $fiche) {
			$id = $GLOBALS['wiki']->href('', $fiche['id_fiche']);
			$title = $fiche['bf_titre'];
			$imageOrig =  $fiche['imagebf_image']; // 
			if( empty($imageOrig)) {
				$image = 'https://colibris-agora.org/files/PagePrincipale_demo3_vignette_209_209_20200729085019_20200802163207.jpg';
			} else {
				$image = redimensionner_image(
					'files/' . $imageOrig,
					'cache/image_' . $thumbwidth . '_' . $thumbheight . '_' . $fiche['imagebf_image'],
					$thumbwidth,
					$thumbheight,
					$thumbresize
				);
			}

			$pubDate = $fiche['bf_date_publication'];
			$author = $fiche['bf_autheur'];
			$resume = $fiche['bf_chapeau'];
			$tags = $fiche['bf_tags'];
			//$tags=trim($tags);
			$tab_tags = explode(",", $tags);
			$nbdetags = count($tab_tags);

			
			
?>

			<!-- Blog Card from Chyno Deluxe: https://codepen.io/ChynoDeluxe/pen/bdXeqQ/ -->
			<div class="blog-card <?php echo ($cnt%2 == 0? 'alt':'') ?>">
				<div class="meta">
				  <div class="photo" style="background-image: url('<?php echo ($image); ?>')"></div>
				  <ul class="details">
					<?php
						if(!empty ($author)) {
					?>
					<li><i class="fa fa-user"></i> <?php echo $author ?></li>
					<?php } ?>

					<?php
						if(!empty ($pubDate)) {
					?>
					<li><i class="fa fa-calendar-o"></i> <?php echo $pubDate ?></li>
					<?php } ?>

					<?php
						if($nbdetags > 0) {
							//echo($nbdetags." tags")
					?>
					<li><i class="fa fa-tag"></i> 
					  <ul>
						<?php
						foreach ($tab_tags as $tag) {
						?>
						<li><a href="?LesActus&query=bf_tags=<?php echo($tag); ?>"><?php echo($tag); ?></a></li>
						<?php } ?>
					  </ul>
					</li>
					<?php } ?>
				  </ul>
				</div>
				<div class="description">
				  <h1><?php echo $title ?></h1>
				  <h2><?php echo $pubDate ?></h2>
				  <p><?php echo $resume ?></p>
				  <p><?php 
						// echo ('<strong>image (Debug temp)</strong>: ['.$image.']<br/>'); 
					?></p>
				  <p class="read-more">
					<a href="<?php echo($id); ?>">En savoir plus</a>
				  </p>
				</div>
			  </div>
<?php		 
			$cnt = $cnt+1;
		} 
	} else {
   		echo 'Il n\'y a pas de fiche pour cette période.';
	}
?>
