.control-label:after {
  content: "";
  margin-right: 0;
}
.symbole_obligatoire:after {
  margin-left: .25em;
}
.form-horizontal {
  margin: 10px 0;
}
.form-control, #form-builder-container  {
  height: 2.7rem;
  padding: .5em 1em .4em 1em;
  font-size: var(--main-text-fontsize);
  color: var(--main-text-color);
  border: 2px solid var(--primary-color);
  border-radius: 3px !important;
  background-color: #f9f9f9;
}
.ace-editor-container, .ace-body {
  background-color: #f9f9f9;
}
.note-editor.note-frame .note-editing-area .note-editable {
  color: var(--main-text-color) !important;
  padding: 1rem !important;
}
.note-editor .panel-heading.note-toolbar {
  background-color: #f9f9f9;
}
.note-editor .panel-heading.note-toolbar .btn i {
  margin: 0;
}
.control-group .controls {
  margin-left: 0 !important;
}
textarea.form-control {
  padding: 15px;
}
.form-group {
  position: relative;
  margin-top: 25px;
}
.form-group:first-child {
  margin-top: 30px;
}
.form-group .controls.col-sm-9 {
  width: 100%;
}
.form-group .control-label {
  text-align: left;
  color: var(--primary-color);
  width: auto !important;
  font-weight: 600;
  padding-left: 15px;
  font-size: .8em;
}
.form-group:not(.file) .control-label { height: 1.3rem }
.form-group.textarea.wiki-textarea {
  margin-top: -10px;
}
.form-group:not(.file):not(.checkbox) .control-label,
.form-group.wrapper.checkbox .control-label {
  position: absolute;
  z-index: 5;
  left: 1.7rem;
  background-color: var(--neutral-light-color);
  padding: 0 4px 0 8px;
  top: -.8em;
}
.form-group:not(.file):not(.checkbox) .title-label.control-label,
.form-group.wrapper.checkbox .title-label.control-label {
  position: relative;
  padding: 0;
  top: 0;
  left: auto;
  margin-left: 15px;
  background: none;
  padding-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
}
.form-group:not(.file):not(.checkbox) .control-label:not(.title-label)::before,
.form-group.wrapper.checkbox .control-label:not(.title-label)::before {
  content: "";
  background-color: #f9f9f9;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 9px;
  z-index: -1;
}
/*.form-group.checkbox:not(.wrapper) .control-label {
  position: absolute;
  left: 1.7rem;
  font-size: .9em;
  bottom: 3px;
}*/
.form-group.date .control-label {
  left: 65px !important;
}
.form-group.date .controls {
  display: flex;
}
.form-group.date .select-time{
  margin-left: 1.5rem;
}
.form-group.date .select-hour, .form-group.date .select-minutes {
  width: 80px !important;
}
.form-group.date .select-allday, .form-group.date .select-minutes {
  border-left: none !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form-group.date .bazar-date, .form-group.date .select-hour {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.datepicker table tr td.active {
  background-color: var(--primary-color) !important;
}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
  padding: 2px 8px;
}
.datepicker-dropdown {
  padding: 10px !important;
}

.form-group.wiki-textarea .control-label {
  position: relative !important;
  top: 1.7rem !important;
  left: .2rem !important;
  margin-left: 10px;
}
.form-group.wrapper .control-label {
  left: .75rem!important;
}
.form-group.input.file .control-label {
  margin-bottom: 5px;
}
.form-group.input.file {
  margin-top: -10px;
}
.form-control.wrapper {
  height: auto;
  margin-left: 0px;
  padding-left: 0;
  padding-bottom: 10px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
select.input-sm {
  font-size: .9em;
  padding: 1px 5px;
}
label .symbole_obligatoire {
  float: right;
}
.controls .btn-toolbar {
  margin-top: 0;
}
input.form-control[type=file] {
  padding-left: 0;
  padding-top: .5em;
  cursor: pointer;
  position: relative;
}
input.form-control[type=file]::before {
  content: "Choisir un fichier";
  position: absolute;
  top: 0;
  font-size: .9em;
  cursor: pointer;
  width: 142px;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--neutral-light-color);
  line-height: 2.6rem;
}
.input-group {
  display: flex !important;
}
.input-group-addon {
  border-radius: 5px 0 0 5px;
  line-height: 2.7rem;
  height: 2.7rem;
  padding: 0 14px;
  width: auto;
  background-color: var(--primary-color);
  color: var(--neutral-light-color);
  border: none;
}
a.input-group-addon:hover {
  color: var(--neutral-light-color);
  opacity: .9;
}
.form-control + .input-group-addon, input + .input-group-addon {
  border-radius: 0 5px 5px 0;
}
.input-group-addon + .form-control, .input-group-addon + input {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.input-group-addon, .input-group-btn {
  width: auto;
}
.input-prepend input {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.input-append input {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: none !important;
}
.input-group.input-prepend.input-append input {
  flex: 1;
}
.input-append .input-group-btn select {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  background-color: var(--primary-color);
  color: var(--neutral-light-color);
  line-height: 2.7rem;
  height: 2.7rem;
}
input[type=file] ~ output {
  padding: 0;
  margin-top: 10px;
  border-radius: 5px;
  width: 200px;
}
input[type=file] ~ output img {
  border-radius: 3px;
}
form {
  position: relative;
}
form.form-horizontal {
  margin-bottom: 1.5rem;
}
form .col-sm-9 {
  width: 100%;
  margin: 0;
}
.symbole_obligatoire.col-sm-9.col-sm-offset-3 {
  position: absolute;
  bottom: .7em;
  right: 0;
  width: auto;
  font-size: .9em;
}
.bazar-checkbox-cols {
  column-width: 250px;
  -webkit-column-width: 250px;
  -moz-column-width: 250px;
  column-count: 50;
  -webkit-column-count: 50;
  -moz-column-count: 50;
}
.form-help {
  cursor: help;
  margin-left: .3rem;
  margin-right: 3px;
}
.input-group-addon:last-child, .input-group-btn:last-child > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 2.7rem;
  border: 2px solid var(--primary-color);
  border-left: none;
  padding-bottom: 8px;
}
/* MAP */
#osmmapform {
  margin-top: 0 !important;
  border-radius: 0 5px 5px 5px;
  margin-bottom: 10px;
}
.btn-geolocate-address {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.leaflet-container {
  font: inherit !important;
}
.leaflet-control-zoom.leaflet-bar.leaflet-control {
  border:none;
  margin-top: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  background-color: var(--neutral-light-color);
}
.leaflet-control-zoom.leaflet-bar.leaflet-control a {
  color: var(--primary-color);
  font-size: 18px !important;
  font-weight: normal;
  text-indent: 0;
}
.leaflet-control-zoom-fullscreen.fullscreen-icon {
  background-image: none;
}
.leaflet-control-zoom-fullscreen.fullscreen-icon:before {
  content: "⇱";
  font-weight: 600;
  color: var(--neutral-color);
}

@media (max-width: 800px) {
  .textarea .btn-toolbar > .btn-group { display: none; }
  .form-group.wiki-textarea .control-label { top: .7rem; }
  input.form-control[type=file]::before { padding: 1px 1rem 0 .8rem; }
}

@media (max-width: 1200px) {
  .form-group .control-label { font-size: .9em; }
}

.form-group.summernote, .form-group.summernote .controls {
  padding: 0;
  margin-top: 0;
}
.form-group.summernote .note-editor {
  margin-bottom: 0;
  border: none;
}
.form-group.summernote .note-editable { padding: 1em; }

.form-horizontal .radio.inline-container,
.form-horizontal .checkbox.inline-container {
  padding-top: 0;
}
.inline-container > label {
  margin-right: 1rem;
}
.inline-container [type="radio"]:not(:checked) + span:not(.lever),
.inline-container [type="radio"]:checked + span:not(.lever) {
  margin-right: -5px;
}