.type-modif-container {
  margin-bottom: 1rem;
}
.type-modif-container label {
  display: block;
  font-weight: normal;
}

.edit-acl-container {
  margin-bottom: 1.5rem;
}
.edit-acl-container .switch {
  margin-bottom: .5rem ;
}

td > label {
  line-height: 0;
  vertical-align: middle;
  padding-left: .5rem;
  margin: 0;
  width: 1.2rem;
}

input[name=theme_modifier], input[name=geredroits_modifier] {
  width: 100%;
  display: block;
}

.btn-edit-group, .btn-create-group {
  margin-left: 10px;
}

label.edit-group strong {
  text-transform: uppercase;
  color: var(--primary-color);
}

.table-condensed.table-updates tr > td:first-child,
.table-condensed.table-updates tr > th:first-child {
  padding-left: 1rem;
}
.table-condensed.table-updates tr > td:last-child {
  text-align: center;
}

@media (max-width: 1200px) {
  td > label { padding-left: .2rem; }
}

#accordion_update .panel {
  margin-bottom: 1rem;
}

#accordion_update .dataTables_header {
  margin: .5rem -.3rem 0  0;
}
#accordion_update .dataTables_footer {
  margin: 0 0 .5rem 0;
}

table .check-all-container {
  position: absolute;
  top: 8px;
  left: 15px;
}
