.footer {
  font-size: .8em;
  margin: 2em 0 1em 0;
  padding: 0;
  text-align: center;
  border-bottom: var(--footer-border);
  position: relative;
}

.footer a {
  color: var(--neutral-soft-color);
  padding: .3em .6em;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  font-weight: 800;
}
.footer::after {
  content: "";
  background-color: var(--neutral-soft-color);
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: -1rem;
  height: .5rem;
  border-radius: .5rem;
}

.footer a:hover {
  text-decoration: none;
  color: var(--neutral-color);
  transition: color .2s;
}
.footer a i {
  color: var(--primary-color);
  font-size: 1.2em;
  margin-right: 6px;
  opacity: .7;
  transition: opacity .2s;
}
.footer a:hover i {
  opacity: 1;
}


/* Pied de page */

#yw-footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  padding: 30px 0;
}
#yw-footer h1, #yw-footer h2, #yw-footer h3, #yw-footer h4, #yw-footer h5, #yw-footer h6 {
  color: var(--footer-title-color);
}

#yw-footer .form-control {
  border-color: var(--neutral-light-color);
}

#yw-footer a {
  color: var(--footer-text-color);

  .fa {
    margin-right: .5rem;
  }
}

#yw-footer {

  h4 {
    text-transform: uppercase;
  }

  .form-group.input.email { 
    margin-top:0;

    .input-group {
      flex-direction:column;

      .input-group-addon {
        display:none;
      }

      .form-control {
        background-color: var(--footer-bg-color);
        color:var(--footer-text-color);
        &::placeholder {
          color:var(--neutral-light-color); 
        }
        
      }
      

      .input-group-btn > .btn{
        background-color:  var(--footer-bg-color);
        border-color: var(--footer-text-color) !important;
        border-radius: 0;
        border-left: 2px solid;
        color:var(--neutral-light-color); 
        margin-top: .2rem;
      }
    }
  }
}

@media (max-width: 800px) {
  .footer {
    display: flex;
    justify-content: space-around;
  }
  .footer a > span { display: none; }
  .footer a i { font-size: 1.1rem; }
  .footer::after {
    left: 0;
    right: 0;
    border-radius: 0;
  }
}

/* Archipel Navigation */
#archipel {
  background:#5a696b;
	position: fixed;
	top:0;
	left:0;
	right:0;
}
#archipel .archipel__islands > span {
	display:none;
}