/* Partie centrale de la page Wiki */
#yw-main {
  padding: 1rem;
  position: relative;
  min-height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
@media (min-width: 992px) {
  #yw-main { padding: 1.5rem; }
}
@media (min-width: 1200px) {
  #yw-main { padding: 1.5rem 2rem; }
}

#yw-main .side-bar {
  width: 15rem;
}
#yw-main .side-bar.left {
  margin-right: 2rem;
}
#yw-main .side-bar.right {
  margin-left: 2rem;
}
@media (max-width: 800px) {
  #yw-main {
    flex-direction: column;
  }
  .page, .menupage, .rightcolumnpage {
    min-height: 0;
  }
  #yw-main .side-bar {
    width: 100%;
    height: auto;
    margin: 0 !important;
  }
}

#yw-main .yw-main-content, section.full-width .container {
  width: 100%;
  flex: 1 auto;
  padding: 0;
  max-width: 1100px;
  border-radius: none;
}
@media (max-width: 1200px) {
  section.full-width .container { padding: 0 1.5rem; }
}
@media (max-width: 800px) {
  section.full-width .container { padding: 0 1rem; }
}

/*
#yw-footer {
  .form-group.input, .form-control {
    background-color: var(--neutral-soft-color);
    border:none;
    color:var(--neutral-light-color);

    &::placeholder {
      color:var(--neutral-color);
    }

    .input-group-addon {
      background-color: transparent;
      color:var(--neutral-color);
    }
  }
}
*/